.postmenu_wrapper {
  background-color: $box-col;
  padding: 1rem;
  max-width: 1338px;
  margin: 0 auto;
}

.postmenu_headings {
  margin: 0 auto;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 5fr;
  // width: 65rem;
  padding: 0.5rem;
  border-bottom: 4px solid white;
  text-shadow: 2px 2px $shadow;
}

.headings__actions {
  text-align: center;
}

.postmenu_post {
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0.5rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  // width: 65rem;

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

    color: white;
    text-shadow: 1px 1px $shadow;
    font-family: $header-font;
    text-transform: uppercase;
    word-break: break-word;
  }

  &__actions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .action {
      margin: 0 auto;
      padding: 0.4rem;
      background-color: $accent-col;
      color: white;
      text-decoration: none;
      font-family: $header-font;
      font-size: 0.8rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 115px;
      height: 50px;
      border: 0.5px solid $font-col;
    }
  }

  &__img {
    max-height: 70px;
    max-width: 70px;
    border: 1px solid white;
  }

  .delete {
    // @extend button;
    background: rgb(194, 43, 43);
  }

  .publish {
    background-color: green;
  }

  .hide {
    background-color: gray;
  }
}

@media screen and (max-width: 1024px) {
  .postmenu_post {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    // border-bottom: 2px solid white;
    &__actions {
      .action {
        margin: 0;
        margin-top: 5px;
        width: 100%;
        height: 50px;
      }
    }
  }

  .postmenu_headings {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .headings__actions {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .postmenu_post {
    // border-bottom: 2px solid white;
    &__actions {
      grid-template-columns: 1fr 1fr;
    }
  }
}
