.comment-header {
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px $shadow;
    font-size: 34px;
    margin-bottom: 1rem;
}

//Visa kommentarer
.comment_container {
    display: grid;
    justify-items: center;
    margin: 1.5rem;
    

    h2 {
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

}
.comment {
    background-color: $font-col;
    box-shadow: 5px 5px 0 grey;
    height: 8rem;
    width: 35rem;
    font-family: $font;
    border-left-style: double;
    border-color: black;
    border-width: thick;
    padding: .7rem;

    p {
        display: inline;
        color: $shadow;
    }
    h4 {
        color: black;
        margin: 15px 0 15px 0;
        
    }

    a:link, a:visited {
        color: $shadow;

    }
    a:hover {
        color: $accent-col;
    }

    .username {
        text-transform: capitalize;
        font-weight: bold;
    }
}

//Lämna kommentar 
.leave_comment-container {
    border-top: 20px solid $shadow;
    display: grid;
    justify-items: center;
    background-color: $box-col;

}
.comment_form {
    background-color: $box-col;
    font-family: $font;
    width: 37rem;
    p {
        text-transform: capitalize;
        font-size: 20px;
        background-color: $font-col;
        margin: 1rem;
        padding: 1rem;
        border: 2px solid grey;
    }
    textarea {
        margin: 1rem;
        padding: 1rem;
        width: 35.3rem;
        font-family: $font;
        font-size: 18px;
    }
    .comment_btn {
        text-align: center;
        padding: 1rem 3rem;
        background-color: $box-col;
        color: $font-col;
        text-decoration: none;
        border: 2px solid $font-col;
        font-family: $header-font;
        font-size: 1.1rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: flex;
        margin: 1rem;
    }
}

@media screen and (max-width: 800px) {

    .comment {
        width: 20rem;
    }

    .comment_form {
        width: 23rem;

        textarea {
            margin: 1rem;
            padding: 1rem;
            width: 21rem;
            font-family: $font;
            font-size: 18px;
        }

    }
}