.header{
    width: 100%;
    color: $font-col;
    background-color: $box-col;
    border-bottom: 20px solid $shadow;
    padding: 1rem;
    margin: 0 auto;
}
.header-nav_links {
    display: flex;
    font-family: $header-font;
    text-transform: uppercase;
    justify-content: center;
    font-size: 1.3rem;

    a:link, a:visited {
        color: $font-col;
    }
    a:hover {
        color: $shadow;
    }
}
li {
    margin: 4px;
}

.logo-text {
    font-size: 5rem;
    font-family: $header-font;
    position: relative;
    margin: 1rem 0 0rem 0;
    width: 100%;
    text-shadow: 5px 5px $shadow;
    text-align: center;
    
}
@media screen and (max-width: 800px) {
    
    .logo-text {
        font-size: 3.4rem;
        margin: 2rem 0 0 0;
    }
    .header-nav_links {
        font-size: 0.6rem;
    }
    .header {
        height: none;
    }
}