body {
    background-color: $background-color;

}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    grid-row-gap: 3rem;
    grid-column-gap: 8rem;
    margin: 2rem 5rem 2rem 5rem;
}

.blogpost_section {
    display: grid;
    width: 25rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-row-gap: .5rem;
    background-color: $box-col;
    text-align: center;
    justify-items: center;
    box-shadow: 20px 20px 0 grey;
    color: white;
    font-family: $font;
    padding: 2rem;

    a:link, a:visited {
        color: white;
        text-shadow: 3px 3px grey;
    }
    a:hover {
        color: $background-color;
    }
    
    h2 {
        font-family: $header-font;
        color: white;
        text-transform: uppercase;
    }

    img {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.096);
        border: 1px solid white;
    }

}

@media screen and (max-width: 800px) {
    
    .grid-container {
        margin: 2rem 0.1rem 2rem 0.1rem;
    }
    .blogpost_section {
        width: 23rem;
    }
}

