.search-title {
    text-align: center;
    margin: 1rem;
}

.search-form {
    display: grid;
    justify-items: center;
    margin: 1rem;

    .search-input {
        padding: 1rem;
        width: 18rem;
        margin-bottom: 1rem;
        font-size: 18px;
    }
}