
//--- COLORS ---//

$background-color: #c2cbc9;
$box-col: #8b908a;
$box-col_2: #e2e6d5f8;
$hard-shadow: #a3aaa0;
$font-col: #e2e6d5f8;
$link-col: rgb(51, 50, 50);

//--- FONTS ---//

$header-font: 'Josefin Sans', ;
$font: 'EB Garamond', ;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
  }

input[type=submit]{
  background-color: $box-col;
  color: white;
  height: 2rem;
  width: 10rem;
  font-family: $header-font;
  font-size: 1rem;
  letter-spacing: 2px;
}

@import 'home';
@import 'header';
@import 'view-blogpost';
@import 'create-blogpost';
